.homePage {
  display: flex;

  overflow-x: hidden;

  height: 100vh;
}
.homePage::-webkit-scrollbar {
  display: none;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 80%;
  width: 50%;
  margin: 0 auto;
}
.logo img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.profileCol,
.trendsCol {
  width: 30%;
  padding: 0 10px;
}
.profileCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: solid 1px rgb(83, 83, 83);
  margin: 0;
  padding: 0;
}
.tweetCol {
  width: 50%;
  border-right: 1px solid grey;
  max-height: 100vh;
  overflow: scroll;
}
.tweetCol::-webkit-scrollbar {
  display: none;
}

.leftInfos {
  font-size: 1.4rem;
  cursor: pointer;
}
.leftInfos:hover {
  color: #1da1f2;
}
.leftBtn {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #1da1f2;
  color: #fff;
  font-family: Mont Heavy, sans-serif;
  cursor: pointer;
}
.h2 {
  font-weight: bold;
  font-size: 4rem;
}
.writeTweet {
  width: 90%;
  margin: 24px auto;
}
.inputTweet {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 22px;
  border-bottom: 1px solid #778193;
  width: 100%;
  padding: 15px 5px;
}
.tweetSend {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 24px;
}
.tweetButton {
  background-color: #1da1f2;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  color: #fff;
  padding: 6px;
  width: 100px;
  font-size: 16px;
  margin-left: 12px;
}

.leftIcons {
  padding-right: 10px;
}

.tweetCol h2 {
  margin: 20px;
}
.trendsCol h2 {
  margin: 20px;
}

.trendContainer {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  background-color: #1b232c;
  border-radius: 25px;
}

.trends {
  width: 80%;
  padding: 10px;
  margin: 20px 0;
}

.trends span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.trends p {
  color: grey;
  font-size: 0.8rem;
}

.trashIcon {
  position: absolute;
  top: 5%;
  left: 70%;
}

.trashIcon:hover {
  color: #1da1f2;
}
