.profilePic {
  border-radius: 50%;
  overflow: hidden;
}

.tweetRow {
  border-top: 1px solid #778193;
  max-height: 100vh;
  padding: 20px 10px;
  margin: 0 100px;
  position: relative;
}
.tweetRow p {
  margin: 18px 0;
  word-wrap: break-word;
}
.userHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.userName {
  font-weight: bold;
  font-size: 18px;
  margin-left: 15px;
}
.userTag {
  color: #778193;
}
.hashtag {
  color: #1da1f2;
  font-weight: bold;
  cursor: pointer;
}
.likeCount {
  margin-left: 5px;
}

.logoutContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logoutInfo {
  display: block;
}
.logoutInfo h4 {
  font-family: Mont Heavy, sans-serif;
}
.logoutInfo p {
  color: grey;
}
.logoutContainer img {
  border-radius: 50%;
}
.logged {
  width: 70%;
  margin: 0 auto;
}
.logged button {
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  font-family: Mont Heavy, sans-serif;
  margin: 15px 20px;
  height: 30px;
  width: 100px;
}

.logged button:hover {
  color: white;
  background-color: #1da1f2;
}

.delete {
  margin-left: 10px;
}
.tweetIcon {
  display: flex;
  /* justify-content: space-around; */
  /* margin: 0 50px; */
  gap: 150px;
  cursor: pointer;
  user-select: none;
}

.trashIcon {
  position: absolute;
  top: 80%;
  left: 90%;
  color: grey;
}
.trashIcon:hover {
  color: #1da1f2;
}
